<div class="container">
  <div class="container__hero-section">
    <div class="container__heading">
      <h1 class="container__heading--header">Adventure Avenue</h1>
      <p class="container__heading--description">
        Experience travel like never before
      </p>
      <button class="container__heading--button">Book a trip</button>
    </div>
  </div>
  <div class="container__info-section">
    <h1 class="container__info-section--header">Who we are</h1>
    <p class="container__info-section--description">
      We are a group of friends who decided to combine our common interests and
      create a travel company that provides unforgettable experiences for people
      looking to explore the world. Our passion for travel and adventure led us
      to start this company, which we named Adventure Avenue. At Adventure
      Avenue, we specialize in creating tailor-made trips for our clients that
      cater to their unique needs and preferences.
    </p>
    <p class="container__info-section--description">
      We understand that every traveler has different desires and expectations
      when it comes to travel, and that's why we work closely with our clients
      to design the perfect itinerary for them. Our team consists of experienced
      travel experts who have extensive knowledge of various destinations around
      the world. From the pristine beaches of Bali to the majestic mountains of
      Switzerland, we have first-hand experience in the most exciting and
      breathtaking destinations across the globe.
    </p>
    <p class="container__info-section--description">
      At Adventure Avenue, our mission is to inspire and empower people to
      explore the world and discover their own sense of adventure. Whether
      you're a solo traveler or a group of friends, we're here to help you plan
      the trip of a lifetime. So why wait? Let's start planning your next
      adventure today!
    </p>
    <div class="container__employees">
      <div class="container__employee-info" *ngFor="let employee of employees">
        <img
          class="container__employee-info--picture"
          src="{{ employee.image }}"
        />
        <h3 class="container__employee-info--name">
          {{ employee.firstName }} {{ employee.lastName }}
        </h3>
        <p class="container__employee-info--description">
          {{ employee.description }}
        </p>
      </div>
    </div>
  </div>
  <div class="container__trip-offers-section">
    <h1 class="container__trip-offers-header">Trip offers</h1>
    <div class="container__trip-offers">
      <div class="container__trip-offer" *ngFor="let tripOffer of tripOffers">
        <img class="container__trip-offer--image" src="{{ tripOffer.image }}" />
        <div class="container__trip-offer--name">
          {{ tripOffer.tripDestination }}
        </div>
        <div class="container__trip-offer-description">
          {{ tripOffer.tripDescription }}
        </div>
      </div>
    </div>
  </div>
</div>
